@import 'tailwindcss';

@theme {
  --font-sans: 'Radio Canada Big', sans-serif;
  --font-display: 'Anton', sans-serif;
  --font-sc: 'Anton SC', sans-serif;
  --font-bohme: 'Bohme', sans-serif;
  --font-bohme-rounded: 'Bohme Rounded', sans-serif;
  --font-myriad: 'Myriad Pro', sans-serif;
}

@font-face {
  font-family: 'Bohme';
  src: url('./assets/fonts/bohme/Bohme.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bohme Rounded';
  src: url('./assets/fonts/bohme/Bohme-Rounded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/fonts/myriad-pro/MYRIADPRO-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/fonts/myriad-pro/MYRIADPRO-BOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/fonts/myriad-pro/MYRIADPRO-SEMIBOLD.OTF') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.uiverse-start-button {
  --main-color: rgb(46, 213, 115);
  --main-bg-color: rgba(46, 213, 116, 0.36);
  --pattern-color: rgba(46, 213, 116, 0.073);
  filter: hue-rotate(0deg);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background:
    radial-gradient(circle, var(--main-bg-color) 0%, rgba(0, 0, 0, 0) 95%),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    15px 15px,
    15px 15px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(circle, var(--main-color) 0%, rgba(0, 0, 0, 0) 100%) 1;
  border-width: 1px 0 1px 0;
  color: var(--main-color);
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.5rem;
  transition: background-size 0.2s ease-in-out;
}

.uiverse-start-button:hover {
  background-size:
    cover,
    10px 10px,
    10px 10px;
}
.uiverse-start-button:active {
  filter: hue-rotate(250deg);
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
